.jumbotron-fluid {
    background-color: #8ecae6;
    color: #023e8a;
    border-top:2px solid #023e8a;
    border-bottom: 2px solid #023e8a;
    height: 30vh;
  }

  .display-1 {
    font-style: bold; 
  }

  .display-4 {
    font-style: bold;
    font-size: 10rem;
  }

.lead {
  text-align: left;
}

