.jumbotron-fluid {
    background-color: #8ecae6;
    color: #023e8a;
    border-top:2px solid #023e8a;
    border-bottom: 2px solid #023e8a;
    height: 60vh;
  }

  .display-1 {
    font-style: bold; 
  }
  




  /* Set the h1 and p to be left center of the Jumbotron. */ 
